@import "../../theme.scss";

.hero{
    background-image: url("/images/furcrowd_edited.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 669px;
}

.hero-content {
    h1, h2, h3, h4{
        text-align: center;
        font-family: $font-primary;
        font-weight: 300;
        color: #FFFFFF;
        text-shadow: drop-shadow(0px 0px 2px #000000);    
    }
}
