@import "../../theme.scss";

.section{

    display: flex;
    justify-content: center;

    &-wrapper{
        width: 100%;
        max-width: 1440px;
    }

    &.top{
        border-bottom: solid 20px $secondary;
    }
}